@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(233, 47%, 7%);
    display: grid;
    place-items: center;
    font-size: 15px;
    padding-top: 5px;
}

.main-style{
    display: flex;
    flex-direction: column;
    background-color: hsl(244, 38%, 16%);
    border-radius: 7px;
    width: 60vw;
    height: 93vh;
}

.main-section-for-img{
    position: relative;
    height: 30vh;
    width: 60vw;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-image: url(images/image-header-mobile.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-section-for-img div{
    height: 30vh;
    width: 60vw;
    background-color: rgba(95, 22, 139, 0.534);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.main-section-img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/*Segunda secção*/

.main-section-for-text{
    display: flex;
        justify-content:  center;
        align-items: center;
        flex-direction: column;
}
.main-title{
    font-family: 'Inter', sans-serif;
    margin: 5px;
    padding: 5px;
    font-weight: 700;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}

.span-colored{
    color: hsl(277, 64%, 61%);
}

.paragraph{
    height: 13vh;
    width: 50vw;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.div-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27vh;
    margin-top: 15px;
}
.div-text-item{
    display: grid;
    place-items: center;
}

.div-text-item h1{
    color: hsl(0, 0%, 100%);
    margin-bottom: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.div-text-item span{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
}

.attribution {  font-family: 'Inter', sans-serif; font-weight: 700; margin: 10px; font-size: 11px; text-align: center; color: white; }
.attribution a { text-decoration: none; color: hsl(277, 64%, 61%); }

@media (min-width: 320px){

    .main-style{
        height: 95vh;
    }
    .main-title{
        
        width: 50vw;
        font-size: 20px;
    }
    .paragraph{
        height: 15vh;
        font-size: 13px;
    }
    .div-text{
        height: 22vh;
        margin-top: 25px;
    }
    .div-text-item h1{
        font-size: 15px;

    }
    
    .div-text-item span{
        font-size: 10px;
    }

}
@media (min-width: 375px){

    .main-style{
        height: 85vh;
    }
    .paragraph{
        height: 13vh;
    }
    .div-text{
        height: 20vh;
        margin-top: 20px;
    }

}
@media (min-width: 600px){
    .main-title{
        font-size: 25px;
    }
    .paragraph{
        font-size: 15px;
    }
    .div-text{
        height: 22vh;
    }
    .div-text-item h1{
        font-size: 20px;
    }
    
    .div-text-item span{
        font-size: 15px;
    }
}

@media (min-width: 1024px){
    .main-style{
        height: 75vh;
    }
    .main-title{
        font-size: 30px;
    }
    .paragraph{
        height: 5vh;
    }
    .div-text{
        height: 20vh;
        margin-top: 10px;
    }
    .div-text-item h1{
        font-size: 20px;
    }
    
    .div-text-item span{
        font-size: 15px;
    }
}

@media (min-width: 1440px){
    body{
        padding-top: 30px;
    }
    .main-style{
        justify-content: space-between;
        flex-direction: row-reverse;
        height: 60vh;
        width: 80vw;
    }
    .main-section-for-img{
        background-image: url(images/image-header-desktop.jpg);
        border-top-left-radius: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        height: 60vh;
        width: 40vw;
    }
    .main-section-for-img div{
        border-top-left-radius: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        height: 60vh;
        width: 40vw;
    }


    /*Segunda secção*/

    .main-section-for-text{
        align-self: flex-start;
        width: 40vw;
        padding: 20px;
        height: 60vh;
    }

    .main-title{
        width: 30vw;
        padding: 0;
        font-size: 35px;
        text-align: left;
    }
    .paragraph{
        margin-top: 20px;
        text-align: left;
        width: 30vw;
    }
    .div-text{
        flex-direction: row;
        height: 10vh;
        width: 55vh;
    }

}